In [1]:
## =================== USE VSCODE OR JUPYTER====================
## +++++++++++++++++ RUN EACH CELL ONE BY ONE +++++++++++++++++++++

## ----------------Database Initialization-----------------
import sqlite3
from sqlite3 import Error
def location():
    return (r"c:\sqlite\labPython1.db") ##<<<<<<<<<<<<<< INITIALIZATION DATABASE TARGET <<<<<<<<<<<<<<

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()

if __name__ == '__main__':
    create_connection(location()) 

## ================Database Initialization===================

In [2]:
## ----------------Table Header Initialization-----------------
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return conn

def create_table(conn, create_table_sql):
    try:
        cur = conn.cursor()
        cur.execute(create_table_sql)
    except Error as e:
        print(e)

def main():
    database = location()

    create_table_header = """CREATE TABLE IF NOT EXISTS transactions (
                                    trx_id integer PRIMARY KEY,
                                    user_id integer NOT NULL,
                                    insert_time timestamp NOT NULL,
                                    tx_amount float NOT NULL,
                                    tx_type text NOT NULL,
                                    status text NOT NULL,
                                    FOREIGN KEY (user_id) REFERENCES users (id)
                                );"""
    conn = create_connection(database)
    if conn is not None:
        create_table(conn, create_table_header)
    else:
        print("Error! cannot create the database connection.")


if __name__ == '__main__':
    main()
## ================Table Header Initialization===================

In [3]:
## ----------------Filling The Table-----------------
def create_task(conn, task):
    sql = ''' INSERT INTO transactions (user_id,insert_time,tx_amount,tx_type, status)
              VALUES(?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, task)
    conn.commit()
    return cur.lastrowid

def main():
    database = location()

    conn = create_connection(database)
    with conn:
        query_1 = (1, '2021-01-01', 20000, 'buy', 'open')
        query_2 = (2, '2021-01-02', 70000, 'buy', 'open')
        query_3 = (3, '2021-01-03', 19000, 'buy', 'open')
        query_4 = (1, '2021-01-06', 20000, 'buy', 'done')
        query_5 = (4, '2021-01-07', 37000, 'buy', 'open')
        query_6 = (2, '2021-01-08', 70000, 'buy', 'done')
        query_7 = (5, '2021-01-14', 44000, 'buy', 'open')
        query_8 = (4, '2021-01-27', 37000, 'buy', 'done')
        query_9 = (6, '2021-02-03', 39000, 'buy', 'open')
        query_10 = (6, '2021-02-07', 39000, 'buy', 'done')
        query_11 = (7, '2021-02-08', 27000, 'buy', 'open')
        query_12 = (8, '2021-02-09', 110000, 'buy', 'open')
        query_13 = (9, '2021-02-10', 57000, 'buy', 'open')
        query_14 = (7, '2021-02-19', 27000, 'buy', 'done')
        query_15 = (10, '2021-02-21', 19000, 'buy', 'open')
        query_16 = (8, '2021-02-21', 110000, 'buy', 'done')
        query_17 = (11, '2021-03-01', 120000, 'buy', 'open')
        query_18 = (11, '2021-03-27', 120000, 'buy', 'done')
        query_19 = (12, '2021-04-01', 15000, 'buy', 'open')
        query_20 = (12, '2021-04-08', 15000, 'buy', 'done')
        

        create_task(conn, query_1)
        create_task(conn, query_2)
        create_task(conn, query_3)
        create_task(conn, query_4)
        create_task(conn, query_5)
        create_task(conn, query_6)
        create_task(conn, query_7)
        create_task(conn, query_8)
        create_task(conn, query_9)
        create_task(conn, query_10)
        create_task(conn, query_11)
        create_task(conn, query_12)
        create_task(conn, query_13)
        create_task(conn, query_14)
        create_task(conn, query_15)
        create_task(conn, query_16)
        create_task(conn, query_17)
        create_task(conn, query_18)
        create_task(conn, query_19)
        create_task(conn, query_20)


if __name__ == '__main__':
    main()
## ================Filling The Table===================

In [4]:
## ------------------Query to show [MAX(column_name)]---------------------
import pandas as pd 

def main():
    database = location()
    conn = create_connection(database)
    with conn:
        query = """SELECT * FROM transactions
                GROUP BY user_id
                HAVING MAX(insert_time)"""
    
    df = pd.read_sql_query(query, conn)
    conn.close()
    print(df)

if __name__ == '__main__':
    main()

## ================Query to show [MAX(column_name)]===================

    trx_id  user_id insert_time  tx_amount tx_type status
0        4        1  2021-01-06    20000.0     buy   done
1        6        2  2021-01-08    70000.0     buy   done
2        3        3  2021-01-03    19000.0     buy   open
3        8        4  2021-01-27    37000.0     buy   done
4        7        5  2021-01-14    44000.0     buy   open
5       10        6  2021-02-07    39000.0     buy   done
6       14        7  2021-02-19    27000.0     buy   done
7       16        8  2021-02-21   110000.0     buy   done
8       13        9  2021-02-10    57000.0     buy   open
9       15       10  2021-02-21    19000.0     buy   open
10      18       11  2021-03-27   120000.0     buy   done
11      20       12  2021-04-08    15000.0     buy   done