In [5]:
## ============================= USE VSCODE OR JUPYTER==============================
## +++++++++++++++++++++++++++ RUN EACH CELL ONE BY ONE  +++++++++++++++++++++++++++++++

## ----------------Database Initialization-----------------
import sqlite3
from sqlite3 import Error
def location():
    return (r"c:\sqlite\labPython2.db") ##<<<<<<<<<<<<<< INITIALIZATION DATABASE TARGET <<<<<<<<<<<<<<

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()

if __name__ == '__main__':
    create_connection(location()) 

## ================Database Initialization===================

In [6]:
## ----------------Table Header Initialization-----------------
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return conn

def create_table(conn, create_table_sql):
    try:
        cur = conn.cursor()
        cur.execute(create_table_sql)
    except Error as e:
        print(e)

def main():
    database = location()

    create_table_header = """CREATE TABLE IF NOT EXISTS sales (
                                    date timestamp NOT NULL,
                                    sales integer NOT NULL
                                );"""
    conn = create_connection(database)
    if conn is not None:
        create_table(conn, create_table_header)
    else:
        print("Error! cannot create the database connection.")


if __name__ == '__main__':
    main()
## ================Table Header Initialization===================

In [7]:
## ----------------Filling The table-----------------
def create_task(conn, task):
    sql = ''' INSERT INTO sales (date, sales)
              VALUES(?,?) '''
    cur = conn.cursor()
    cur.execute(sql, task)
    conn.commit()
    return cur.lastrowid

def main():
    database = location()

    conn = create_connection(database)
    with conn:
        query_1 = ('2021-01-01', 100)
        query_2 = ('2021-01-02', 34)
        query_3 = ('2021-01-02', 123)
        query_4 = ('2021-01-02', 134)
        query_5 = ('2021-01-03', 145)
        query_6 = ('2021-01-03', 24)
        query_7 = ('2021-01-04', 541)
        query_8 = ('2021-01-04', 636)
        query_9 = ('2021-01-05', 322)
        query_10 = ('2021-01-06', 242)
        query_11 = ('2021-01-07', 22)
        query_12 = ('2021-01-08', 46)

        create_task(conn, query_1)
        create_task(conn, query_2)
        create_task(conn, query_3)
        create_task(conn, query_4)
        create_task(conn, query_5)
        create_task(conn, query_6)
        create_task(conn, query_7)
        create_task(conn, query_8)
        create_task(conn, query_9)
        create_task(conn, query_10)
        create_task(conn, query_11)
        create_task(conn, query_12)

if __name__ == '__main__':
    main()
## ================Filling The table===================

In [8]:
## ------------------Query to Show SUM(sales)/date with Window function SQL--------------------
import pandas as pd 

def main():
    database = location()
    conn = create_connection(database)
    with conn:
        query = """SELECT *,
            SUM(sales) OVER(PARTITION BY date) AS rolling_sum,
            SUM(sales) OVER(ORDER BY date) AS running_sum
            FROM sales  
                """
    
    df = pd.read_sql_query(query, conn)
    conn.close()
    print(df)

if __name__ == '__main__':
    main()

## ================Query Menampilkan SUM(sales)/date with Window function SQL===================

          date  sales  rolling_sum  running_sum
0   2021-01-01    100          100          100
1   2021-01-02     34          291          391
2   2021-01-02    123          291          391
3   2021-01-02    134          291          391
4   2021-01-03    145          169          560
5   2021-01-03     24          169          560
6   2021-01-04    541         1177         1737
7   2021-01-04    636         1177         1737
8   2021-01-05    322          322         2059
9   2021-01-06    242          242         2301
10  2021-01-07     22           22         2323
11  2021-01-08     46           46         2369